---
BasedOnStyle: Mozilla
AlignConsecutiveMacros: 'true'
AlignConsecutiveDeclarations: 'true'
AlignOperands: true
AlignAfterOpenBracket: BlockIndent
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AccessModifierOffset: -4
# BreakTemplateDeclarations: Leave
# AlwaysBreakTemplateDeclarations: 'false'
ContinuationIndentWidth: 4
ColumnLimit: 200
IndentWidth: '4'
SortIncludes: 'false'
TabWidth: '4'
UseTab: Never
ReflowComments: false
BreakBeforeBraces: Custom
AllowShortEnumsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
BraceWrapping:
  AfterCaseLabel:        true
  AfterClass:            true
  AfterControlStatement: true
  AfterEnum:             true
  AfterFunction:         true
  AfterNamespace:        false
  AfterObjCDeclaration:  true
  AfterStruct:           true
  AfterUnion:            true
  AfterExternBlock:      true
  BeforeCatch:           true
  BeforeElse:            true
  IndentBraces:          false
  SplitEmptyFunction:    false
  SplitEmptyRecord:      false
  SplitEmptyNamespace:   false
PackConstructorInitializers: CurrentLine
FixNamespaceComments: true
...
